<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# MY JUPYTER NOTEBOOK

This is a jupyter notebook example

Data Science Lenguages
* Python
* R
* Julia
* SQL
* MATLAB
* Java
* Scala
* SAS
* C++
* Lua

Data Science Libraries:
* NumPy
* Pandas
* Matplotlib
* Seaborn
* Scikit-learn
* TensorFlow
* Keras
* PyTorch
* SciPy
* Statsmodels

In [3]:
import pandas as pd

# Create a dictionary with data for the table
data = {'Tool': ['Python', 'R', 'SQL', 'Tableau', 'Excel'], 
        'Type': ['Programming language', 'Programming language', 'Database language', 'Data visualization tool', 'Spreadsheet software'], 
        'Purpose': ['Data analysis, machine learning, data visualization', 'Data analysis, statistical computing', 'Data management, querying, manipulation', 'Data visualization, business intelligence', 'Data analysis, data management']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame as a table
display(df)

,Tool,Type,Purpose
0,Python,Programming language,"Data analysis, machine learning, data visualiz..."
1,R,Programming language,"Data analysis, statistical computing"
2,SQL,Database language,"Data management, querying, manipulation"
3,Tableau,Data visualization tool,"Data visualization, business intelligence"
4,Excel,Spreadsheet software,"Data analysis, data management"

Some examples of arithmetic expressions:

- Addition: 5 + 3 = 8
- Subtraction: 10 - 4 = 6
- Multiplication: 2 * 7 = 14
- Division: 18 / 6 = 3
- Exponentiation: 2 ** 3 = 8 (2 raised to the power of 3)
- Modulo: 9 % 4 = 1 (the remainder of 9 divided by 4)
- Floor division: 17 // 3 = 5 (the quotient of 17 divided by 3, rounded down to the nearest integer)

In [5]:
2*4

8

In [6]:
5+12

17

In [7]:
minutes=298
hour=minutes/60
print('Time in hours is:' + str(hour))

Time in hours is:4.966666666666667

### Objectives

1. Understand the basics of data science and its applications
2. Learn commonly used data science libraries and tools
3. Become familiar with various data visualization techniques
4. Understand different types of machine learning algorithms
5. Learn how to evaluate model performance and make predictions
6. Gain practical experience in applying data science techniques to real-world problems

## AUTOR:
Donhe Fuentes